body {
  font-family: Dancing Script;
  background-color: #02010a;
}

#contenido {
  display: flex;
	width: 900px;
	margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

header {
  background-color:#5b7989;
  color: white;
	border-radius: 10px 10px 0px 0px;
	float:left;
  width: 100%;
  box-sizing: border-box;

}

#titulo {
  float:left;
  width: 49%;
  text-align: left;
  text-shadow: 2px 2px #02010a;
  font-size: 30px;
  padding-left: 1%;
 }

#menu {
  float:right;
  width: 48%;
  text-align: right;
  font-size: 22px;
  word-spacing: 25px;
  padding-right: 2%;
  padding-top: 0.6em;
}

a, a:visited{
 color:inherit;
}

a.actual {
  text-decoration: none;
}

#imagenCentral {
width: 100%;
background-color: #82c3a6;
display: block;
text-align: center;
}

.imagenSecundaria {
width: 50%;
background-color:  #d5c75f;
display: block;
text-align: center;

}
#paisaje, #retrato{
  transition-property: all;
  transition-duration: 1s;
  box-shadow: 2px 2px #82c3a6;
}

#paisaje:hover {
  transform:rotateZ(10deg);
}

#retrato:hover {
transform: translate(20px,-5px);
}

figure img {
  height: 90%;
  width: 90%;
  margin-top: 1%;
}

figcaption{
  font-size: 22px;
}

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  float: left;
  padding-bottom: 2em;
}

.footer h1 {
  margin-bottom:.2em;
  margin-top: .7em;
}

.footer p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom:.4em;
  margin-top: 0em;
  text-decoration: none;
}

.footer img {
  float: left;
  width: 18px;
  margin-right: 6px;
}

.footer{
  float: left;
  width:22%;
  text-align: left;
  margin-left: 3%;
}

.linkRedes {
  text-decoration: none;
}

@media (max-width: 900px) {
  #contenido {
    width: 100%;
    margin: 0 auto;
  }

  .imagenSecundaria {
    width: 100%;
  }

  #titulo {
    width: 100%;
    text-align: center;
  }

  #menu {
    width: 100%;
    text-align: center;
  }
  .footer{
    width: 100%;
  }
}
